<%= form_for(@catalogo) do |f| %>
  <% if @catalogo.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@catalogo.errors.count, "error") %> prohibited this catalogo from being saved:</h2>
        <ul>
            <% @catalogo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :categoria_id %><br>
  <%#= f.text_field :categoria_id %>
      <%= f.select :categoria_id, Categorium.all.collect{|c| [c.nombre, c.id]} %><br>
      <%= link_to 'Administrar categorias', categoria_path %>
  </div>
  <div class="field">
      <%= f.label :nombre_producto %><br>
      <%= f.text_field :nombre_producto %>
  </div>
  <div class="field">
      <%= f.label :marca %><br>
      <%= f.text_field :marca %>
  </div>
  <div class="field">
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion %>
  </div>
  <div class="field">
      <%= f.label :medidas %><br>
      <%= f.text_field :medidas %>
  </div>
  <div class="field">
      <%= f.label :precio_vendedor %><br>
      <%= f.text_field :precio_vendedor %>
  </div>
  <div class="field">
      <%= f.label :precio_publico %><br>
      <%= f.text_field :precio_publico %>
  </div>
  <div class="field">
      <%= f.label :costo_produccion %><br>
      <%= f.text_field :costo_produccion %>
  </div>
  <div>
      <%= f.file_field :avatar %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
