<h1>Catalogo de productos</h1>


<br><%= link_to 'Agregar a catalogo', new_catalogo_path, :class=>"btn btn-default btn-block" %>

<br> <br>
<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>      
      <th>Id Producto</th>
      <th>Categoria</th>
      <th>Nombre producto</th>
      <th>Marca</th>
      <th>Descripcion</th>
      <th>Medidas</th>
      <th>Precio vendedor</th>
      <th>Precio publico</th>
      <th>Costo produccion</th>
      <th>Imagen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr> 
        <td><%= catalogo.id %></td>
        <td><%= link_to catalogo.categoria, catalogo.categoria %></td>
        <td><%= catalogo.nombre_producto %></td>
        <td><%= catalogo.marca %></td>
        <td><%= catalogo.descripcion %></td>
        <td><%= catalogo.medidas %></td>
        <td><%= catalogo.precio_vendedor %></td>
        <td><%= catalogo.precio_publico %></td>
        <td><%= catalogo.costo_produccion %></td>
        <td><%= image_tag catalogo.avatar_url(:thumb).to_s %></td>
        <td><%= link_to 'Show', catalogo, :class=>"btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_catalogo_path(catalogo),:class=>"btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', catalogo, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>



