<p id="notice"><%= notice %></p>


<table class="table-bordered">
    <tr>
        <td align="center">

            <p> <strong>Imagen</strong></p>
            <p>            
                <%= image_tag @catalogo.avatar_url(:show).to_s %>
            </p>
        </td>   
        <td>
            <p></p>
            <p>
                <strong>Categoria:</strong>
                <%= @catalogo.categoria_id %>
            </p>

            <p>
                <strong>Nombre producto:</strong>
                <%= @catalogo.nombre_producto %>
            </p>
            <p>
                <strong>Marca:</strong>
                <%= @catalogo.marca %>
            </p>

            <p>
                <strong>Descripcion:</strong>
                <%= @catalogo.descripcion %>
            </p>

            <p>
                <strong>Medidas:</strong>
                <%= @catalogo.medidas %>
            </p>

            <p>
                <strong>Precio vendedor:</strong>
                <%= @catalogo.precio_vendedor %>
            </p>

            <p>
                <strong>Precio publico:</strong>
                <%= @catalogo.precio_publico %>
            </p>

            <p>
                <strong>Costo produccion:</strong>
                <%= @catalogo.costo_produccion %>
            </p>

        </td>
    </tr>

</table>





<%= link_to 'Edit', edit_catalogo_path(@catalogo) %> |
<%= link_to 'Back', catalogos_path %>
