<h1>Listing categoria</h1>

<table class="table table-hover table-bordered" border="2" width="400">
  <thead>
    <tr> 
      <th>Nombre</th>
      <th>Descripción</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categorium| %>
      <tr >
        <td><%= categorium.nombre %></td>
        <td><%= categorium.descripcion %></td>
        <td><%= link_to 'Show', categorium, :class=>"btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_categorium_path(categorium) ,:class=>"btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', categorium, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoria', new_categorium_path, :class=>"btn btn-success" %>
