
<%= form_for(@gasto) do |f| %>
  <% if @gasto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gasto.errors.count, "error") %> prohibited this gasto from being saved:</h2>

      <ul>
      <% @gasto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
<div class="field">
    <%= f.label :no_factura %><br>
    <%= f.text_field :no_factura %>
  </div>
<div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select:fecha%>
  </div>

<p></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
