<h1>Listing gastos</h1>

<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>
      <th>Id Gasto</th>
      <th>Concepto</th>
      <th>Descripcion</th>
      <th>Monto</th>
      <th>No Factura</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
          <td><%= gasto.id %></td>
        <td><%= gasto.concepto %></td>
        <td><%= gasto.descripcion %></td>
        <td><%= gasto.monto %></td>
        <td><%= gasto.no_factura %></td>
        <td><%= gasto.fecha %></td>
        <td><%= link_to 'Show', gasto, :class=>"btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_gasto_path(gasto),:class=>"btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', gasto, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gasto', new_gasto_path, :class=>"btn btn-success" %>
