<p id="notice"><%= notice %></p>

<p>
  <strong>Concepto:</strong>
  <%= @gasto.concepto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @gasto.descripcion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @gasto.monto %>
</p>
<p>
  <strong>No.Factura:</strong>
  <%= @gasto.no_factura %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @gasto.fecha %>
</p>
<%= link_to 'Edit', edit_gasto_path(@gasto) %> |
<%= link_to 'Back', gastos_path %>
