<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user,  :class=>"btn-info btn-sm"  %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class=>"btn-warning btn-sm"  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path,  :class=>"btn btn-success" %>
