<h1>Existencias en mi sucursal</h1>

<br> <br>
<% if @catalogos_usuario %>
<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>      
      <th>Clave</th>
      <th>Categoria</th>
      <th>Nombre producto</th>
      <th>Marca</th>
      <th>Descripcion</th>
      <th>Precio vendedor</th>
      <th>Precio publico</th>
      <th>Existencias</th>
      
      <th>Imagen</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos_usuario.each do |c| %>
      <tr> 
        <td><%= c.catalogo.id %></td>
        <td><%= link_to c.catalogo.categoria, c.catalogo.categoria %></td>
        <td><%= c.catalogo.nombre_producto %></td>
        <td><%= c.catalogo.marca %></td>
        <td><%= c.catalogo.descripcion %></td>
        
        <td><%= c.catalogo.precio_vendedor %></td>
        <td><%= c.catalogo.precio_publico %></td>
        <td><%= c.cantidad %></td>
      
        <td><%= image_tag c.catalogo.avatar_url(:thumb).to_s %></td>
        <td><%= link_to 'Detalle', usuario_sucursal_catalogo_path(id: c.id), :class=>"btn-info btn-sm" %></td>
        <td>
          <%= form_tag movimiento_path(c.catalogo) do%>
            <%= number_field_tag :cantidad %>
            <%= submit_tag 'Venta' %>
            <%= submit_tag 'Devolucion' %>
          <%- end -%>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>No tiene una sucursal asignada!</h3>
<% end %>

