<p id="notice"><%= notice %></p>


<table class="table-bordered">
    <tr>
        <td align="center">

            <p> <strong>Imagen</strong></p>
            <p>            
                <%= image_tag @inventario.catalogo.avatar_url(:show).to_s %>
            </p>
        </td>   
        <td>
            <p></p>
            <p>
                <strong>Categoria:</strong>
                <%= @inventario.catalogo.categoria %>
            </p>

            <p>
                <strong>Nombre producto:</strong>
                <%= @inventario.catalogo.nombre_producto %>
            </p>
            <p>
                <strong>Marca:</strong>
                <%= @inventario.catalogo.marca %>
            </p>

            <p>
                <strong>Descripcion:</strong>
                <%= @inventario.catalogo.descripcion %>
            </p>

            <p>
                <strong>Medidas:</strong>
                <%= @inventario.catalogo.medidas %>
            </p>

            <p>
                <strong>Precio vendedor:</strong>
                <%= @inventario.catalogo.precio_vendedor %>
            </p>

            <p>
                <strong>Precio publico:</strong>
                <%= @inventario.catalogo.precio_publico %>
            </p>

            <%#*<p>%>
                <%#*<strong>Costo produccion:</strong>%>
                <%#= @inventario.catalogo.costo_produccion %>
            <%#*</p>%>
            <p>
                <strong>Cantidad:</strong>
                <%= @inventario.cantidad %>
            </p>

        </td>
    </tr>

</table>






<%= link_to 'Atras', usuario_sucursal_catalogo_index_path %>
