<%= form_for(@sucursal) do |f| %>
  <% if @sucursal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

      <ul>
      <% @sucursal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_sucursal %><br>
    <%= f.text_field :nombre_sucursal %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, User.all.collect{|c| [c.email, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_area :direccion %>
  </div>

<div class="field">
    <%= f.label :ciudad %><br>
    <%= f.text_field :ciudad %>
  </div>

  <div class="field">
    <%= f.label :pais %><br>
    <%= f.text_field :pais %>
  </div>
  <div class="field">
    <%= f.label :almacen %><br>
    <%= f.select :almacen, [['Sì', true], ['No', false]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
