<h1>Listado de sucursales</h1>

<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>
        
      <th>Id Sucursal</th>
      <th>Nombre sucursal</th>
      <th>Responsable</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Pais</th>
      <th></th>
      <th></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |sucursal| %>
      <tr>
        <td><%= sucursal.id %></td>
        <td><%= sucursal.nombre_sucursal %></td>
        <td><%= sucursal.user %></td>
        <td><%= sucursal.telefono %></td>
        <td><%= sucursal.direccion %></td>
        <td><%= sucursal.ciudad %></td>
        <td><%= sucursal.pais %></td>
      
        <td><%= link_to 'Show', sucursal, :class=>"btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_sucursal_path(sucursal),:class=>"btn-warning btn-sm"  %></td>
        <td><%= link_to 'Destroy', sucursal, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sucursal', new_sucursal_path,  :class=>"btn btn-success" %>
