<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre sucursal:</strong>
  <%= @sucursal.nombre_sucursal %>
</p>

<p>
  <strong>Responsable:</strong>
  <%#= @sucursal.user.id %>
  <%= link_to @sucursal.user, @sucursal.user %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @sucursal.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @sucursal.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @sucursal.ciudad %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @sucursal.pais %>
</p>
<p>
  <strong>Almacen:</strong>
  <%= @sucursal.almacen ? 'Si' : 'No'%>
</p>

<%= link_to 'Edit', edit_sucursal_path(@sucursal) %> |
<%= link_to 'Back', sucursals_path %>
