<h1>Inventario</h1>

<%= link_to 'Agregar Inventario', new_inventario_path, :class=>"btn btn-success" %>
<br><br>
<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>
      <th>Catalogo</th>
      <th>Cantidad</th>
      <th>Sucursal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td><%= link_to inventario.catalogo.nombre_producto, inventario.catalogo %></td>
        <td><%= inventario.cantidad %></td>
        <td><%= link_to inventario.sucursal.nombre_sucursal, inventario.sucursal, :class => "btn btn-link" %></td>
        <td><%= link_to 'Show', inventario, :class=>"btn-info btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


