<p id="notice"><%= notice %></p>

<p>
  <strong>Catalogo:</strong>
  <%= link_to @inventario.catalogo, @inventario.catalogo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @inventario.cantidad %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= link_to @inventario.sucursal.nombre_sucursal, @inventario.sucursal %>
</p>

<%= link_to 'Regresar', inventarios_path %>
