<!DOCTYPE html>
<html>

<head>
    <title>PAPEN Bienvenido</title>

    <%= favicon_link_tag 'favico.jpg' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

    <center>
        <br><br>
        <table class="table-responsive" width="1024">
            <tr bgcolor="white" align="center">
                <td>
                    <p class="navbar-text pull-right">
                        <% if user_signed_in? %>
                        Logged in as <strong><%= current_user.email %></strong>.
                        <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                        <% else %>
                        <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <% end %>
                </td>
            </tr>
            <tr bgcolor="white" align="center">
                <td>
                    <%= image_tag("prueba1.jpg")%>
                </td>
            </tr>
            <tr bgcolor="white">
                <td>
                    <% if user_signed_in? %>
                    <nav class="navbar navbar-inverse">
                        <ul class="nav navbar-nav">
                            <% if current_user.user? %>
                            <li><%= link_to "Existencias vendedor", usuario_sucursal_catalogo_index_path %></li>
                            <li><%=  link_to 'Descargar Catalogo', catalogo_pdf_vendedor_index_path(format: 'pdf') %></li>
                            <% else 
                                end  
                              if current_user.admin? %>
                            <li><%= link_to "Inicio", menu_index_path %> </li>
                            <li>
                                <a href="#" data-toggle="dropdown">Descargas<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><%=  link_to 'Catalogo cliente', catalogo_pdf_vendedor_index_path(format: 'pdf') %></li>
                                        <li><%=  link_to 'Catalogo vendedor', catalogos_path(format: 'pdf')%></li>
                                    </ul>
                            </li>
                            <li><%= link_to "Administración de Catalogo", catalogos_path %> </li>
                            <li><%= link_to "Inventario", inventarios_path%></li>
                            <li><%= link_to "Gastos", gastos_path %></li>
                            <li><%= link_to "Costos", costos_path %></li>
                            <li><%= link_to "Sucursales", sucursals_path%></li>
                            <li><%= link_to "Usuarios", users_path%></li>
                            <li>
                                <a href="#" data-toggle="dropdown">Resumen de operaciones<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><%= link_to "Resumen de operaciones CSV", resume_index_path(format: 'csv')%></li>
                                        <li><%= link_to "Resumen de operaciones PDF", resume_index_path(format: 'pdf')%></li>
                                    </ul>
                            </li>


                            <%else%>
                            <% end %>
                        </ul>
                    </nav>
                    <% else %>
                    <%#*not show nav-bar%>
                    <% end %>
                    <%if notice%>
                    <p class="notice"><%= notice %></p>
                    <%end%>
                    <%if alert%>
                    <p class="alert"><%= alert %></p>
                    <%end%>
                </td>
            </tr>


            <tr bgcolor="white" align="center">

                <td> <%= yield %> <br><br></td>

            </tr>
            <tr bgcolor="white">
                <td bgcolor="black">

                    <div id="footer" align="center">
                        <font color="White" size="3">2015 pepen derechos reservados</font>
                    </div>

                </td>
            </tr>
        </table>
        <br>
    </center>
</body>

</html>