<h1>Listing costos</h1>

<table class="table table-hover table-bordered" border="2"  width="400">
  <thead>
    <tr>
        <th>Id Costo</th>
      <th>Concepto</th>
      <th>Descripcion</th>
      <th>Monto</th>
      <th>Factura No</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @costos.each do |costo| %>
      <tr>
          <td><%= costo.id %></td>
        <td><%= costo.concepto %></td>
        <td><%= costo.descripcion %></td>
        <td><%= costo.monto %></td>
        <td><%= costo.no_factura %></td>
        <td><%= costo.fecha %></td>
        <td><%= link_to 'Show', costo, :class=>"btn-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_costo_path(costo),:class=>"btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', costo, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Costo', new_costo_path, :class=>"btn btn-success" %>
