<p id="notice"><%= notice %></p>

<p>
  <strong>Concepto:</strong>
  <%= @costo.concepto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @costo.descripcion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @costo.monto %>
</p>

<p>
  <strong>No Factura:</strong>
  <%= @costo.no_factura %>
</p>

<p>
  <strong>fecha:</strong>
  <%= @costo.fecha %>
</p>

<%= link_to 'Edit', edit_costo_path(@costo) %> |
<%= link_to 'Back', costos_path %>
